@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600&family=Great+Vibes&family=Kanit:wght@300&family=Orbitron:wght@500&family=Poppins:wght@300;400&family=Roboto&family=Source+Code+Pro&display=swap');
.abhayaLibre {
    font-family: 'Abhaya Libre', serif;
}
.greatVibes {
    font-family: 'Great Vibes', serif;
}
.orbitron {
    font-family: 'Orbitron', sans-serif;
}
.terminal-font {
    font-family: 'Source Code Pro', monospace;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.source-font{
    font-family: 'Source Code Pro', monospace;
}

.trapezoid {
    width: 200px;
    height: 100px;
    background-color: #4A90E2; /* Example color */
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
 
